MEMORY_V2_DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/memory_xx
MEMORY_V2_DATABASE_SCHEMA=memory_xx
MEMORY_V2_DATABASE_MAX_CONNECTIONS=10
MEMORY_V2_DATABASE_IDLE_TIMEOUT_MS=30000
MEMORY_V2_DATABASE_CONNECTION_TIMEOUT_MS=10000
MEMORY_V2_DATABASE_SSLMODE=disable
